In [3]:
# I a mgoing to import multiple excel file automatically using for loop,
# But before doing this, I need to get the current directory and files in it
import os
current_folder = os.getcwd()
print(current_folder)

C:\Users\danis\Desktop\Extract

In [4]:
# Those are files and folder I have in current directory and I am going to import both a sinlge excel file and multiple ones.
files = os.listdir(current_folder)
files

['.ipynb_checkpoints',
 'ETL-Extract(excel files).ipynb',
 'ETL-Extract.ipynb',
 'exported_dataframe.csv',
 'new_products.csv',
 'Sales_Data.csv',
 'superstore1.xls',
 'superstore2.xls',
 'superstore3.xls',
 'superstore4.xls',
 'superstore5.xls',
 'superstore6.xls',
 'superstore7.xls',
 'superstore8.xls',
 'temp.json',
 'transactions.json']

In [7]:
# Extract sheetnames from excel file
import pandas as pd
file = pd.ExcelFile('superstore1.xls')
file.sheet_names

['Orders', 'Returns', 'People']

In [9]:
# import a single sheet in Pandas 
#file.sheet_names[0] is equal to "Orders"
import pandas as pd
df = pd.read_excel('superstore1.xls', sheet_name = file.sheet_names[0])

In [12]:
# Read whole sheets in Pandas 
import pandas as pd
df = pd.read_excel('superstore1.xls', sheet_name = file.sheet_names)
# To reach any sheet in pandas

# To reach any sheet in pandas
# file.sheet_names[0]="Orders"
# file.sheet_names[1]="Returns"
# file.sheet_names[2]="People"

df[file.sheet_names[0]]

In [14]:
# import Excel file to DataFrame
import pandas as pd
 
# skip starting rows, it's like using offset in Ms SQL server.
df1 = pd.read_excel('superstore1.xls',sheet_name="People")
df2 = pd.read_excel('superstore1.xls',sheet_name="People",skiprows=2)

In [15]:
df1

              Person   Region
0      Anna Andreadi     West
1        Chuck Magee     East
2     Kelly Williams  Central
3  Cassandra Brandow    South

In [16]:
df2

         Chuck Magee     East
0     Kelly Williams  Central
1  Cassandra Brandow    South

In [17]:
# I am going to import multiple excel files automatically using for loop,
# But before doing this, I need to get the current directory and files in it
import os
current_folder = os.getcwd()
files = os.listdir(current_folder)
files

['.ipynb_checkpoints',
 'ETL-Extract(excel files).ipynb',
 'ETL-Extract.ipynb',
 'exported_dataframe.csv',
 'new_products.csv',
 'Sales_Data.csv',
 'superstore1.xls',
 'superstore2.xls',
 'superstore3.xls',
 'superstore4.xls',
 'superstore5.xls',
 'superstore6.xls',
 'superstore7.xls',
 'superstore8.xls',
 'temp.json',
 'transactions.json']

In [18]:
# those are files that's gonna be imported to DataFrame
for file in files:
    if file.endswith('.xls'):
        print(file)

superstore1.xls
superstore2.xls
superstore3.xls
superstore4.xls
superstore5.xls
superstore6.xls
superstore7.xls
superstore8.xls

In [19]:
# those are files that's gonna be imported to DataFrame
for file in files:
    if file.endswith('.xls'):
        print(os.path.join(current_folder,file))

C:\Users\danis\Desktop\Extract\superstore1.xls
C:\Users\danis\Desktop\Extract\superstore2.xls
C:\Users\danis\Desktop\Extract\superstore3.xls
C:\Users\danis\Desktop\Extract\superstore4.xls
C:\Users\danis\Desktop\Extract\superstore5.xls
C:\Users\danis\Desktop\Extract\superstore6.xls
C:\Users\danis\Desktop\Extract\superstore7.xls
C:\Users\danis\Desktop\Extract\superstore8.xls

In [20]:
# Create new DataFrame in python
sales = pd.DataFrame()

In [21]:
# I concatenated excel files and looped through each excel file that exists in this C:\Users\danis\Desktop\Extract
for file in files:
    if file.endswith('.xls'):
        df = pd.read_excel(os.path.join(current_folder,file))
        sales = sales.append(df,ignore_index=True)

In [22]:
sales

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79947,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
79948,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
79949,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
79950,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
79951,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480